{
  "serverlist": {
    "servers": [
    {% for server in fireeye_engine_servers%}
      {
        "server": "{{ server }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]
  },
  "credentials": {
    "cacert": "{{ fireeye_cacert }}",
    "provocert": "{{ fireeye_provocert }}",
    "provokey": "{{ fireeye_provokey }}"
  },
  "events": {
    "active_collection_enabled": false
  },
  "exploitDetection": {
    "enable_production": false
  },
  "fips": {
    "enabled": false
  },
  "service": {
    "config_poll_interval_sec": 900
  },
  "process": {
    "cpu_limit": 50
  },
  "ProtectionServices": {
    "enable": true,
    "age_to_purge": 90
  },
  "malwareDetection": {
    "enable": false
  },
  "advanced": {
    "mxs/pki/distro/crl": "{{ fireeye_mxs_pki_distro_crl }}"
  },
  "type": "config",
  "version": "2.0.0",
  "channel": "bootstrap",
  "name": "default",
  "id": "5L9bGS8j+1DtnOwGMuRQtg==",
  "ts": "2022-05-26T22:15:33Z"
}
